html {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

p {
  text-align: center;
  display: block;
  padding: 10px;
  border: 1px solid black;
}

li {
  text-align: center;
  padding: 5px;
  
}

ul {
  list-style-type: none;
  border: 1px solid black;
}
